<h3>
    Flight Reservation System
    <button type="submit" class="btn btn-danger btn-lg float-right">logout</button>
    <button type="submit" class="btn btn-primary btn-lg float-right">Home</button>
</h3>
<br>
<h4>Your Bookings:
</h4>
<form>
<h5>Booking Id: {{dummy}}
<button type="submit" class="btn btn-success btn-lg float-right">upcoming</button>
</h5>
<p><b>Flight Details:</b></p>
<p>Number: {{dummy}} <br>
Source: {{dummy}}<br>
Destination: {{dummy}}<br>
Departure: {{dummy}}<br>
Arrival: {{dummy}}</p>
<p><b>Passenger Details:</b></p>
<table>
    <tr>
        <td><b>Passenger 1:</b><br>
            PNR: {{dummy}}<br>
            Name: {{dummy}}<br>
            Age: {{dummy}}  Gender: {{dummy}} ID: {{dummy}}
        </td>
        <td><b>Passenger 2:</b><br>
            PNR: {{dummy}}<br>
            Name: {{dummy}}<br>
            Age: {{dummy}}  Gender: {{dummy}} ID: {{dummy}}
        </td>
    </tr>
    <br>
    <tr>
        <td><b>Passenger 3:</b><br>
            PNR: {{dummy}}<br>
            Name: {{dummy}}<br>
            Age: {{dummy}}  Gender: {{dummy}} ID: {{dummy}}
        </td>
        <td><b>Passenger 4:</b><br>
            PNR: {{dummy}}<br>
            Name: {{dummy}}<br>
            Age: {{dummy}}  Gender: {{dummy}} ID: {{dummy}}
        </td>
    </tr>
</table>
<br><p>Contact Number: {{dummy}} <br>
       Billing Address: {{dummy}}
<button type="submit" class="btn btn-danger btn-lg float-right">Cancel</button>
<button type="submit" class="btn btn-primary btn-lg float-right">Download</button>
</p>
</form>
<br>
<form>
    <h5>Booking Id: {{dummy}}
       <button type="submit" class="btn btn-danger btn-lg float-right">Cancelled</button>
    </h5>
    <p>Flight Details: <br>
    Number: {{dummy}}
    </p>
</form>
<p>
    <a href>Flight reservation system 2019 </a>
    <a href> About Us </a>
</p>



        

      
    

