<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="background-color: black;">
  <a class="navbar-brand" href="#">
   <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->

      Flight Reservation System
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="buttonFlag" class="nav-item" style="margin-right: 30px; margin-top: 8px; color: white;">
            <em>Welcome {{username}}</em>
      </li>
      <li *ngIf="user" class="nav-item">
          <button class="btn btn-info">
              <a href="userpanel">Home</a>
          </button>
      </li>
      <li *ngIf="admin" class="nav-item">
          <button class="btn btn-info">
              <a href="adminpanel">Home</a>
          </button>
      </li>
      <li *ngIf="!buttonFlag" class="nav-item">
          <button class="btn btn-success">
              <a href="login">LOG IN</a>
          </button>
      </li>
      <li *ngIf="buttonFlag" class="nav-item">
          <button class="btn btn-danger">
              <a href="logout">LOG OUT</a>
          </button>
      </li>
    </ul>
  </div>
</nav>
<!-- HEADER -->
