<style>
    .wrapper{
    min-height: 90vh;
  }
  a{
     color:  #FF8040;
    }
    
    </style>
<div class="view" style="background-image: url('assets/aeroplane-bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <nav class="navbar navbar-dark">
      <div class="navbar-brand">
        <img src="assets/aeroplane.png" width="40" height="40" class="d-inline-block align-top" alt="">
        <b>Flight Reservation System</b>
    </div>
    <div>
    <button type = "button" class ="btn btn-danger pull-right">LOGOUT</button>
    </div>
</nav>  
  <div class="wrapper">
    <div class="container ">
  
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="scheduledFlight/add" (click)="add()" >ADD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="scheduledFlight/show" (click)="view()">VIEW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="scheduledFlight/search" (click)="search()">SEARCH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="scheduledFlight/modify" (click)="search()">MODIFY</a>
      </li>
    </ul>
   <br><br>
    
    <div class="container card shadow-lg p-3 mb-5 bg-white rounded">
      <h3 class="font-weight-bold">Add ScheduleFlight  </h3>
      <section style="border: 2px solid black; padding: 20px;">
      <form ngNativeValidate #form>
        <label>ScheduleFlightId :</label>
        <input (blur)="validateId()" [(ngModel)]="scheduleFlight.scheduleFlightId" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="scheduleFlightId" required>
        <small *ngIf="idValid" style="color: red;">Invalid ID. Please enter an id between 1 to 999.</small>
        <br>
        <label>Source Airport :</label>
        <input  #a  type="text" class="form-control" ng-model required>
        <br>
        <label>Destination Airport :</label>
        <input (blur)="validateAirports(a.value, b.value)"  #b  type="text" class="form-control" required>
        <small *ngIf="airportValid" style="color: red;">Source and Destination cannot be the same</small>
        <br>
        <label>Departure Time :</label>
        <input  #c   class="dateselect" type="text"  class="form-control" required>
        <br>
        <label>Arrival Time :</label>
        <input  #d  type="text" class="form-control" required>
        <br>
        <label>Flight ID: </label>
            <input type="number" class="form-control"  [(ngModel)]="scheduleFlight.flight" [ngModelOptions]="{standalone: true}" required>
            <br>
        <label>Available Seats: </label>
            <input type="number" class="form-control"  [(ngModel)]="scheduleFlight.availableSeats" [ngModelOptions]="{standalone: true}" id="availableSeats" required>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br>
            <label>Schedule ID: </label>
            <input type="number" class="form-control"  [(ngModel)]="scheduleFlight.schedule" [ngModelOptions]="{standalone: true}" id="schedule" required>
            <br>
          <div class="col-md-3 offset-md-9">
              <input  type="submit" class="confBtn btn btn-success" (click)="form.checkValidity()? addScheduleFlight(scheduleFlight,a.value,b.value,c.value,d.value) : null" [disabled]="!buttonFlag" value="ADD SCHEDULE FLIGHTS">
          </div>
        </form>
      </section>
        </div>
      </div>
    </div>
 
<footer class="navbar navbar-light bg-light" style="padding: 10px;">
    Flight Reservation System
    <span style="float: right;">2020</span>
</footer>   
</div>