<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Id</th>
        <th scope="col">User Name</th>
        <th scope="col">User Type</th>
        <th scope="col">User Phone</th>
        <th scope="col">User Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{i + 1}}</td>
        <td>{{ user.userId}}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.userType }}</td>
        <td>{{ user.userPhone}}</td>
        <td>{{ user.userEmail}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
