.wrapper{
  min-height: 90vh;
  padding-top: 100px;
  padding-bottom: 100px;
}
.row{
  padding: 20px;
}

.card{
  text-align: center;
}

.logInBtn{
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.signUpBtn{
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-bottom: 25px;
}

a {
  cursor: pointer;
  color: white;
  font-weight: 700;
}

a:hover{
  text-decoration: none;
}
