<h3>Update Booking</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Booking ID</label>
      <input type="text" class="form-control" id="bookingId" required [(ngModel)]="booking.bookingId" name="bookingId">
    </div>

    <div class="form-group">
      <label for="name">Booking Date</label>
      <input type="text" class="form-control" id="bookingDate" required [(ngModel)]="booking.bookingDate" name="bookingDate">
    </div>

    <div class="form-group">
      <label for="name">No of Passengers</label>
      <input type="text" class="form-control" id="noOfPassengers" required [(ngModel)]="booking.noOfPassengers" name="noOfPassengers">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
