.wrapper{
  min-height: 90vh;
  padding-top: 100px;
  padding-bottom: 100px;
}
.row{
  padding: 20px;
}

.card{
  text-align: center;
}
.regBtn{
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-bottom: 25px;
}
/* ng2-password-strength-bar{
  width: 100%;
} */
