<!-- <div class="wrapper">
  <div class="row">
      <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white">
          <h3 style="margin-top: 20px; font-size: x-large;">Sign Up</h3>
          <small>With a FMS account you can make bookings and manage
              them quickly and easily.
          </small>
          <div class="row">
              User Name : <input (blur)="validateName(); enableButton();" class="form-control" type="text" name="username" [(ngModel)]="user.userName">
              <small *ngIf="nameFlag" style="color: red;">Invalid User Name</small>
          </div>
          <div class="row">
              Password : <input class="form-control" type="password" name="password" [(ngModel)]="user.userPassword" #password="ngModel"
              minlength="5" maxlength="50" required>
              <password-strength-meter [password]="user.userPassword" [minPasswordLength]=8 [colors]="barLabel" [enableFeedback]=true></password-strength-meter>
          </div>
          <div class="row">
              Phone No : <input (blur)="validatePhone(); enableButton();" class="form-control" type="number" name="phone" [(ngModel)]="user.userPhone">
              <small *ngIf="phoneFlag" style="color: red;">Invalid Phone Number</small>
          </div>
          <div class="row">
              Email : <input (blur)="validateEmail(); enableButton();" class="form-control" type="email" name="email" [(ngModel)]="user.userEmail">
              <small *ngIf="emailFlag" style="color: red;">Invalid Email</small>
          </div>
          <div class="row">
              <button [disabled]="buttonFlag" class="regBtn btn btn-success" (click)="signUp()">
                  Register
                </button>
          </div>
      </div>
  </div>
</div> -->

<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #adduserForm="ngForm">
      <div class="form-group">
        <label for="userName">User name</label>
        <input type="text" [(ngModel)]="user.userName"
               class="form-control"
               id="userName"
               name="userName"
               placeholder="Enter user name"
               required #userName="ngModel">
      </div>
      <div [hidden]="!userName.pristine" class="alert alert-danger">User name is required</div>

      <div class="form-group">
        <label for="userPassword">Password</label>
        <input type="text" [(ngModel)]="user.userPassword"
               class="form-control"
               id="userPassword"
               name="userPassword"
               placeholder="Enter Password"
               required #userPassword="ngModel">
      </div>
      <div [hidden]="!userPassword.pristine" class="alert alert-danger">Password is required</div>

      <div class="form-group">
        <label for="userEmail">Email</label>
        <input type="email" [(ngModel)]="user.userEmail"
               ngModel [email]="true"
               class="form-control"
               id="userEmail"
               name="userEmail"
               placeholder="Enter Email"
               required #userEmail="ngModel">
      </div>
      <div [hidden]="!userEmail.pristine" class="alert alert-danger">Email is required</div>

      <div class="form-group">
        <label for="userPhone">Phone Number</label>
        <input type="number" [(ngModel)]="user.userPhone"
               pattern="[0-9]"
               class="form-control"
               id="userPhone"
               name="userPhone"
               placeholder="Enter Phone Number"
               required #userPhone="ngModel">
      </div>
      <div [hidden]="!userPhone.pristine" class="alert alert-danger">Phone Number is required</div>

      <div class="form-group">
        <label for="userType">User Type, Admin || User</label>
        <input type="text" [(ngModel)]="user.userType"
               class="form-control"
               id="userType"
               name="userType"
               placeholder="Enter user type"
               required #userType="ngModel">
      </div>
      <div [hidden]="!userType.pristine" class="alert alert-danger">User type is required</div>

      <button type="submit"
              class="btn btn-info">Submit
      </button>
    </form>
  </div>
</div>


