
<h2 style="text-align: center;color:black;"><b>Airport Details</b></h2> 
<div *ngIf="airport" style="margin-left: auto;margin-right: auto;">
  <div>
    <label><b style="color:aliceblue;">Airport Code : </b></label> <b style="color: aliceblue;"> {{airport.airportCode}}</b>
  </div>
  <div>
    <label><b style="color:aliceblue;">Airport Name : </b></label> <b style="color: aliceblue;"> {{airport.airportName}}</b>
  </div>
  <div>
    <label><b style="color:aliceblue;">Airport location : </b></label> <b style="color: aliceblue;"> {{airport.airportLocation}}</b>
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Airport List</button>