<h2 style="color:black;text-align: center;"><b>FLIGHT DETAILS</b></h2> 
<div *ngIf="flight" style="margin-left: auto;margin-right: auto;">
  <div>
    <label><b style="color:aliceblue"> Flight Model :  </b></label> <b style="color: aliceblue;"> {{flight.flightModel}}</b>
  </div>
  <div>
    <label><b style="color:aliceblue">Carrier Name :  </b></label> <b style="color: aliceblue;"> {{flight.carrierName}}</b>
  </div>
  <div>
    <label><b style="color:aliceblue">Seat Capacity :  </b></label> <b style="color: aliceblue;"> {{flight.seatCapacity}}</b>
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Flight List</button><br>
