<!-- BODY -->
<div class="wrapper">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Book Domestic and International Flights</h3>
        The Flight Management System is a booking solution for flight tickets.
        It  consolidates data provided by different airline carriers and hence provides the user details 
        and rates in real-time. Travellers may want to make changes in their bookings.
        The  application allows them to book, cancel, view and update their bookings with ease.
        Other  than this, it eases the management of bookings too.
        All the bookings, flights, schedules and  routes can be viewed,
        added and modified on a single application by the administrator.
        <br />
      <button type="button" class="btn btn-primary signUpBtn">
        <a href="signup">SIGN UP</a>
      </button>
    </div>
  </div>
  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Check out the Best Offers Available</h3>
      <div class="row">
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BODY -->
