<!-- BODY -->
<div class="wrapper">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Book Domestic and International Flights</h3>
        The Flight Reservation System is a booking solution for flight tickets.
        It  consolidates data provided by different airline carriers and hence provides the user details 
        and rates in real-time. Travellers may want to make changes in their bookings.
        The  application allows them to book, cancel, view and update their bookings with ease.
        Other  than this, it eases the management of bookings too.
        All the bookings, flights, schedules and  routes can be viewed,
        added and modified on a single application by the administrator.
        <br />
      <button type="button" class="btn btn-primary signUpBtn">
        <a href="signup">SIGN UP</a>
      </button>
    </div>
  </div>
  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Check out the Best Offers Available</h3>
      <div class="row">
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
      </div>
    </div>
  </div>
  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">About Us</h3>
      <div class="row">
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user.png" height="200px" /><br /><br />
          <h5>Sanchit Singhal</h5>
          <hr />
          <span class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <hr />
            <a
              href="https://www.facebook.com/"
              class="fa fa-facebook"
            ></a>
            <a
              href="https://in.linkedin.com/in/"
              class="fa fa-linkedin"
            ></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user.png" height="200px" /><br /><br />
          <h5>Shivani Luthra</h5>
          <hr />
          <span class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user.png" height="200px" /><br /><br />
          <h5>Shaivi Sinha</h5>
          <hr />
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user.png" height="200px" /><br /><br />
          <h5>Vaibhav Chaudhary</h5>
          <hr />
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card contact-card shadow-lg p-3 mb-5 bg-white rounded">
                  <div class="card-body" style="padding-left: 150px; padding-right: 150px; padding-top: 50px; padding-bottom: 50px;">
                      <h3 class="card-title">Contact Us</h3>
                      <div class="row">
                          Full Name: <br>
                          <input class="form-control" type="text" name="fname"><br>
                          Email Address:<br>
                          <input class="form-control" type="email" name="email"><br>
                          Subject: <br>
                          <input class="form-control" type="text" name="subject"><br>
                          Message:<br>
                          <textarea class="form-control" name="message"></textarea>
                      </div>
                      <div class="row">
                          <div class="col-md-3 offset-md-9">
                              <button type="button" class="btn btn-success signUpBtn" (click)="sendMessage()">
                                  <a href="#">Send</a>
                              </button>
                          </div>
                      </div>
                  </div>
              </div> -->
</div>
<!-- BODY -->
