<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>List of Airports</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>AirportCode</th>
            <th>AirportName</th>
            <th>AirportLocation</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let airport of airports | async">
            <td>{{airport.airportCode}}</td>
            <td>{{airport.airportName}}</td>
            <td>{{airport.airportLocation}}</td>
            <td><button (click)="removeAirport(airport.airportCode)" class="btn btn-danger">Delete</button>
              <button (click)="modifyAirport(airport.airportCode)" class="btn btn-info" style="margin-left: 10px">update</button>
                <button (click)="airportDetails(airport.airportCode)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>