<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>User List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User Id</th>
            <th>User Name</th>
            <th>User Phone</th>
            <th>User Email</th>
            <th>User Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async">
            <td>{{user.userId}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.userPhone}}</td>
            <td>{{user.userEmail}}</td>
            <td>{{user.roles}}</td>
            <td>
              <button (click)="deleteUser(user.userId)" class="btn btn-danger">Delete</button>
              <button (click)="updateUser(user.userId)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="userDetails(user.userId)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
